/backup/
/node_modules/
npm-debug.log
tmp
TODO.md
/files/
/docs/errors.md
/test/.coverage/
.DS_Store
yarn-error.log

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# TypeScript build outputs
dist/
build/
lib/
out/
